html,
body {
  height: 100%;
  background-color: #000000;
}

@font-face {
    font-family: billboard;
    src: url(../marketsaturday.ttf);
}

h1 {
  color: #f47d4a;
  text-shadow: 0 0 25px #f47d4a;
  font-family: billboard;
  font-size: 10vw;
}

h6 {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

.container {
/*  padding-right: 0;
  margin-right: 0;*/
  height: 100%;
  background-image: url("me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-color: black;
  padding-top: 4vw;
}

.menu {
  color: #ffec5c;
}

.row {
  height: 100%;
}

.navbar {
  background-color: #141414;
  font-family: 'Quicksand', sans-serif;
  color: #ffec5c;
}

.active {
  text-shadow: 0 0 25px #ffec5c;
}

a {
  color: #ffec5c;
}

/*navigation bar glow effect*/
a:hover:before {
  color: #ffec5c;
  text-shadow: 0 0 5px #ffec5c;
}

a:hover {
  color: #ffec5c;
  text-shadow: 0 0 25px #ffec5c;
  transition: 0.5s;
}